.pwd-change-input {
    width: 80%;
    margin-left: 10%;
}
.stairs-update-user {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
}

#stair-updusr1, #stair-updusr2 {
    background-color: rgb(251, 200, 83);
}
#stair-updusr3, #stair-updusr4 {
    background-color: rgb(82, 245, 255);
}
#stair-updusr5 {
    background-color: rgb(218, 71, 125);
}
#stair-updusr1 {
    position: absolute;
    top: 70%;
    width: 40%;
    height: 150px;
}
#stair-updusr2 {
    position: absolute;
    top: 37%;
    left: 40%;
    width: 180px;
    height: 150px;
}
#stair-updusr3 {
    position: absolute;
    top: 60%;
    left: 75%;
    width: 8%;
    height: 50%;
}
#stair-updusr4 {
    position: absolute;
    top: 60%;
    left: 83%;
    width: 22%;
    height: 100px;
}
#stair-updusr5 {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 40%;
    height: 40px;
}