{% load static %}

Hello, {{ user.name }}<br>
<img src="{% static user.avatar %}">

My events:
{% for event in event_list %}
    <h5>{{ event.title }}</h5>
    <p>{{ event.event_date }}</p>
    <p>{{ event.place }}</p>
{% endfor %}
{% for reg in reg_list %}
    <p>{{reg.has_visited}}</p>
{% endfor %}

My polls:
{% for poll in poll_list %}
    <h5>{{poll.text}}</h5>
{% endfor %}
{% for choice in choice_list %}
    {% if choice.text %}
        <p>{{choice.text}}</p>
    {% else %}
        {% for mult in choice %}
            <p>{{mult.text}}</p>
        {% endfor %}
    {% endif %}
{% endfor %}

<a href="{% url 'joseph_app:redact_user' user.pk %}">Redact</a>
<a href="{% url 'joseph_app:polls' %}">Polls</a>
<a href="{% url 'joseph_app:events' %}">Events</a>
<a href="{% url 'joseph_app:news' %}">News</a>
{% if user.is_admin %}
<a href="{% url 'joseph_app:poll_create_page' %}">Create poll</a>
<a href="{% url 'joseph_app:event_create_page' %}">Create event</a>
<a href="{% url 'joseph_app:article_create_page' %}">Create article</a>
{% endif %}
<a href="{% url 'joseph_app:logout_user' %}">Exit</a>