<form action="{% url 'joseph_app:register_user' %}" method="post">
    {% csrf_token %}
    <input type="email" name="email" id="email" required="required" />email<br>
    <input type="password" name="password" id="password" required="required" />password<br>
    <input type="password" name="password_val" id="password_val" required="required" />password_val<br>
    <input type="text" name="name" id="name" required="required" />name<br>
    <input type="text" name="surname" id="surname" required="required" />surname<br>
    <input type="text" name="second_name" id="second_name" />second_name<br>
    <input type="image" name="avatar" id="avatar" />avatar<br>
    <input type="date" name="date_of_birth" id="date_of_birth" />date_of_birth<br>
    <input type="tel" name="phone" id="phone" required="required" />phone<br>
    <input type="url" name="pubnet" id="pubnet" />pubnet<br>
    <input type="text" name="university" id="university" required="required" />university<br>
    <input type="number" name="course" id="course" required="required" />course<br>
    <input type="text" name="reg_address" id="reg_address" />reg_address<br>
    <input type="text" name="cur_address" id="cur_address" />cur_address<br>
    <input type="text" name="organizations" id="organizations" />organizations<br>
    <input type="text" name="hobby" id="hobby" />hobby<br>
    <button type="submit">Register</button>
</form>