{% extends "joseph_app/base.html" %}
{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'joseph_app/templatedata/css/cabinet.css' %}">
{% endblock %}

{% block header %}
Личный кабинет
{% endblock %}

{% block content %}

                    <div class="page-content">

                        <h3 class="p-3">Привет, {{user.name}}!</h3>
                        <div class="row no-gutters">
                            <div class="col-12 col-md-8 col-xl-5 p-3">
                                <h4 class="mb-1">Личные данные</h4>
                                <form action="{% url 'joseph_app:update_user' user.pk %}" enctype="multipart/form-data" method="post" style="position: relative; z-index: 111;">
                                    {% csrf_token %}
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="email_cab" class="col-12 col-md-5 col-form-label mx-auto">Email</label>
                                        <div class="col col-md-6">
                                            <input class="form-control-plaintext" style="padding-left: 0.75em;" type="text" name="email_cab" id="email_cab" readonly value="{{ user.email }}" />
                                        </div>
                                    </div>
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="phone" class="col-12 col-md-5 col-form-label mx-auto">Телефон</label>
                                        <div class="col col-md-6">
                                            <input class="form-control" type="tel" name="phone" id="phone" required="required" value="{{ user.phone }}" />
                                        </div>
                                    </div>
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="pubnet" class="col-12 col-md-5 col-form-label mx-auto">Ссылка на соцсети</label>
                                        <div class="col col-md-6">
                                            <input class="form-control" type="url" name="pubnet" id="pubnet" value="{{ user.pubnet }}" />
                                        </div>
                                    </div>
                                    {% if not user.is_admin %}
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="university" class="col-12 col-md-5 col-form-label mx-auto">Вуз</label>
                                        <div class="col col-md-6">
                                            <input class="form-control" type="text" name="university" id="university" required="required" value="{{ user.university }}" />
                                        </div>
                                    </div>
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="course" class="col-12 col-md-5 col-form-label mx-auto">Курс</label>
                                        <div class="col col-md-6">
                                            <select class="form-control" name="course" id="course" required="required">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">Другое</option>
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col"></div>
                                        <label for="avatar" class="col-12 col-md-5 col-form-label mx-auto">Аватар</label>
                                        <div class="col-12 col-md-6">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input class="custom-file-input" type="file" name="avatar" id="avatar" />
                                                    <label for="avatar" class="custom-file-label">Фото</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col-6"></div>
                                        <div class="col-12 col-md-6">
                                            <button class="btn btn-danger w-100" style="background: rgb(218, 71, 125); color: rgb(33, 21, 81);" type="button" data-toggle="collapse" data-target="#collapsePersData" aria-expanded="false" aria-controls="collapsePersData"> Раскрыть </button>
                                        </div> 
                                    </div>
                                    
                                    <div class="collapse" id="collapsePersData">
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="name" class="col-12 col-md-5 col-form-label mx-auto">Имя</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="name" id="name" required="required" value="{{ user.name }}" />
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="surname" class="col-12 col-md-5 col-form-label mx-auto">Фамилия</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="surname" id="surname" required="required" value="{{ user.surname }}" />
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="second_name" class="col-12 col-md-5 col-form-label mx-auto">Отчество</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="second_name" id="second_name" value="{{ user.second_name }}" />
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="date_of_birth" class="col-12 col-md-5 col-form-label mx-auto">Дата рождения</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="date_of_birth" id="date_of_birth" value="{{ user.date_of_birth|date:'d.m.Y' }}" aria-describedby="dob-help" placeholder="ДД.ММ.ГГГГ" />
<!--                                                <small id="dob-help" class="text-muted">Формат даты: ДД.ММ.ГГГГ</small>-->
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="reg_address" class="col-12 col-md-5 col-form-label mx-auto">Адрес регистрации</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="reg_address" id="reg_address" value="{{ user.reg_address }}" />
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="cur_address" class="col-12 col-md-5 col-form-label mx-auto">Фактический адрес</label>
                                            <div class="col col-md-6">
                                                <input class="form-control" type="text" name="cur_address" id="cur_address" value="{{ user.cur_address }}" />
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="organizations" class="col-12 col-md-5 col-form-label mx-auto">Организации</label>
                                            <div class="col col-md-6">
                                                <textarea class="form-control" style="resize: none;" name="organizations" id="organizations" value="{{ user.organizations }}" rows=2>{{ user.organizations }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row no-gutters">
                                            <div class="d-none d-md-block col"></div>
                                            <label for="hobby" class="col-12 col-md-5 col-form-label mx-auto">Хобби</label>
                                            <div class="col col-md-6">
                                                <textarea class="form-control" style="resize: none;" name="hobby" id="hobby" value="{{ user.hobby }}" rows=2>{{ user.hobby }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                           
                                    <div class="form-group row no-gutters">
                                        <div class="d-none d-md-block col-6"></div>
                                        <div class="col-12 col-md-6">
                                            <button type="submit" class="btn btn-info w-100" id="saveButton" style="background-color: rgb(82, 245, 255); color: rgb(33, 21, 81);">Сохранить</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group row no-gutters" style="position: relative; z-index: 121;">
                                    <div class="d-none d-md-block col-6"></div>
                                    <div class="col-12 col-md-6">
                                        <div class="dropup">
                                            <a class="d-block dropdown-toggle btn btn-warning w-100" style="background: rgb(251, 200, 83);" href="#" id="passwordChangeButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span style="color: rgb(33, 21, 81);">Сменить пароль</span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="passwordChangeButton" style="margin-left: 10px;">
                                                <form action="{% url 'joseph_app:password_change' user.pk %}" enctype="multipart/form-data" method="post">
                                                    <div class="form-group">
                                                        <label for="password_old" class="custom-label">Старый пароль</label>
                                                        <input class="form-control pwd-change-input" type="password" name="password_old" id="password_old" required="required" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password_new" class="custom-label">Новый пароль</label>
                                                        <input class="form-control pwd-change-input" type="password_new" name="password_new" id="password" required="required" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password_val" class="custom-label">Повторите пароль</label>
                                                        <input class="form-control pwd-change-input" type="password" name="password_val" id="password_val" required="required" />
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-secondary pwd-change-input">Подтвердить</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-xl-block col-xl-3" id="persData"></div>
                            <div class="d-none d-md-block col-md-4">
                                <div class="p-4 mr-2 position-relative" id="avatarData">
                                    <div class="cab-avatar" style="background-image: url({% static user.avatar %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                </div>
                            </div>
                        </div>
                        
                        {% if user.is_admin %}
                        <h4 class="ml-2 ml-lg-3 mt-4 mb-4" id="h4-event-header">Создать</h4>
                        
                        <h5 class="ml-2 ml-lg-3" id="article-create-h5">Новость</h5>
                        <form action="{% url 'joseph_app:article_create' %}" enctype="multipart/form-data" method="post"  style="position: relative; z-index: 110;">
                            {% csrf_token %}
                            <div class="form-row p-2 p-lg-3">
                                <div class="col-12 col-lg-8">
                                    <div class="form-group">
                                        <label for="title">Заголовок</label>
                                        <input type="text" class="form-control" name="title" id="title" />
                                    </div>
                                    <div class="form-group">
                                        <label for="body">Текст</label>
                                        <textarea class="form-control" style="resize: none;" name="body" id="body" rows=10></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label for="article_image1">Галерея</label>
                                        <div class="custom-file mb-1" id="article_image_el1">
                                            <input type="file" class="custom-file-input" name="article_image1" id="article_image1" />
                                            <label class="custom-file-label" for="article_image1">Фото</label>
                                        </div>
                                        <button type="button" class="btn btn-secondary" onclick="add_article_image(2)" id="add_ar_img_field">+</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary w-100">Опубликовать</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <div class="adm-create-divide mb-4 ml-3"></div>
                        
                        <div class="row no-gutters" style="position: relative; z-index: 110;">
                            <div class="col-12 col-lg-7 p-2 p-lg-3" id="ev-create" style="border-right-color: rgb(33, 21, 81); border-right-style: solid; border-right-width: 4px;">
                                <h5 id="event-create-h5">Мероприятие</h5>
                                <form action="{% url 'joseph_app:event_create' %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12 col-lg-8">
                                            <div class="form-group">
                                                <label for="event_title">Заголовок</label>
                                                <input type="text" class="form-control" name="event_title" id="event_title" />
                                            </div>
                                            <div class="form-group">
                                                <label for="event_text">Текст</label>
                                                <textarea name="event_text" class="form-control" style="resize: none;" id="event_text" rows=5></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-group">
                                                <label for="event-date">Дата и время</label>
                                                <input type="datetime-local" class="form-control" name="event_date" id="event_date" value="2018-08-16 19:00" />
                                            </div>
                                            <div class="form-group">
                                                <label for="place">Место</label>
                                                <input type="text" class="form-control" name="place" id="place" />
                                            </div>
                                            <div class="custom-file" id="article_image_el1">
                                                <input type="file" class="custom-file-input" name="event_image" id="event_image" />
                                                <label class="custom-file-label" for="event_image">Фото</label>
                                            </div>
                                            <div class="form-group mt-1">
                                                <button type="submit" class="btn btn-secondary w-100">Опубликовать</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="d-block d-lg-none adm-create-divide mb-4 ml-3"></div>
                            <div class="col-12 col-lg-5 p-2 p-lg-3">
                                <h5 id="poll-create-h5">Опрос</h5>
                                <form action="{% url 'joseph_app:poll_create' 10 %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12 col-lg-8">
                                            <div class="form-group">
                                                <label for="text">Текст</label>
                                                <textarea class="form-control" name="text" id="text" style="resize: none;" rows=2></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <label>Тип опроса</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="poll_type" id="poll_type_1" value="1" />
                                                <label class="form-check-label" for="poll_type_1">Один вариант</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="poll_type" id="poll_type_2" value="2" />
                                                <label class="form-check-label" for="poll_type_2">Несколько вариантов</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="poll_ch1">1</span>
                                            </div>
                                            <input type="text" class="form-control" name="poll1" id="poll1" aria-describedby="poll_ch1" />
                                        </div>
                                        <div class="input-group mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="poll_ch2">2</span>
                                            </div>
                                            <input type="text" class="form-control" name="poll2" id="poll2" aria-describedby="poll_ch2" />
                                        </div>
                                    </div>
                                    <div class="form-row no-gutters">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary" onclick="add_poll_choice(3)" id="add_pc_field">+</button>
                                        </div>
                                        <div class="col-12 col-lg-5 my-1 my-lg-0">
                                            <div class="custom-file" id="article_image_el1">
                                                <input type="file" class="custom-file-input" name="poll_image" id="poll_image" />
                                                <label class="custom-file-label" for="poll_image">Фото</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-5">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary w-100">Опубликовать</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <h4 class="ml-2 ml-lg-3 mt-4 mb-4" id="h4-admin-header">Мероприятия</h4>
                        
                        {% for event in event_list %}
                        <div class="row no-gutters" style="position: relative; z-index: 110;">
                            <div class="col-12 col-lg-5 p-2 py-lg-3 pl-lg-3 pr-lg-1">
                                <div class="event-content h-100 p-2">
                                    <h5>{{ event.event.title }}</h5>
                                    <p class="d-none d-lg-inline-block event-p">
                                        {{ event.event.text }}
                                    </p>
                                    
                                    {% if event.event.image != ' ' %}
                                    <div class="d-block d-lg-none img-resp" style="background-image: url({% static event.event.image %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                    {% else %}
                                    <div class="d-block d-lg-none img-resp" style="background-image: url({% static 'joseph_app/templatedata/images/Centr_Razvitiya-25.png' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                    {% endif %}
                                    <div class="event-data-divide"></div>
                                    <strong>Дата</strong>
                                    <p>{{ event.event.event_date }}</p>
                                    <strong>Место</strong>
                                    <p>{{ event.event.place }}</p>
                                    <div class="d-block d-lg-none">
                                        <a href="{% url 'joseph_app:make_docx' event.event.pk %}" role="button" class="btn btn-warning btn-sm mt-3 w-100" style="background: rgb(251, 200, 83);">Список участников (docx)</a>
                                        <a href="{% url 'joseph_app:make_xlsx' event.event.pk %}" role="button" class="btn btn-warning btn-sm mt-3 w-100" style="background: rgb(251, 200, 83);">Список участников (xlsx)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block col-lg-7 p-2 py-lg-3 pr-lg-3 pl-lg-1 event-img">
                                {% if event.event.image != ' ' %}
                                <div style="background-image: url({% static event.event.image %}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 83.3%;"></div>
                                {% else %}
                                <div style="background-image: url({% static 'joseph_app/templatedata/images/Centr_Razvitiya-25.png' %}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 83.3%;"></div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'joseph_app:make_docx' event.event.pk %}" role="button" class="btn btn-warning btn-sm mt-4 w-100" style="background: rgb(251, 200, 83);">Список участников (docx)</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'joseph_app:make_xlsx' event.event.pk %}" role="button" class="btn btn-warning btn-sm mt-4 w-100" style="background: rgb(251, 200, 83);">Список участников (xlsx)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-divide"></div>
                        
                        {% endfor %}
                        
                        {% else %}
                        <h4 class="ml-2 ml-lg-3 mt-4 mb-4" id="h4-event-header">Мои мероприятия</h4>
                        
                        {% for event in event_list %}
                        <div class="row no-gutters" style="position: relative; z-index: 110;">
                            <div class="col-12 col-lg-5 p-2 py-lg-3 pl-lg-3 pr-lg-1">
                                <div class="event-content h-100 p-2">
                                    <h5>{{ event.event.title }}</h5>
                                    <p class="d-none d-lg-inline-block event-p">
                                        {{ event.event.text }}
                                    </p>
                                    
                                    {% if event.event.image != ' ' %}
                                    <div class="d-block d-lg-none img-resp" style="background-image: url({% static event.event.image %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                    {% else %}
                                    <div class="d-block d-lg-none img-resp" style="background-image: url({% static 'joseph_app/templatedata/images/Centr_Razvitiya-25.png' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                    {% endif %}
                                    <div class="event-data-divide"></div>
                                    <strong>Дата</strong>
                                    <p>{{ event.event.event_date }}</p>
                                    <strong>Место</strong>
                                    <p>{{ event.event.place }}</p>
                                    {% if event.register.has_visited %}
                                    <span class="badge badge-success">Посещено</span><br>
                                    {% else %}
                                    <span class="badge badge-danger">Не посещено</span><br>
                                    {% endif %}
                                    <button type="button" class="d-block d-lg-none btn btn-warning btn-sm mt-4 w-100" style="background: rgb(251, 200, 83);" onclick="show_qr({{event.register.event_pk}})">Показать QR-код</button>
                                </div>
                            </div>
                            <div class="d-none d-lg-block col-lg-7 p-2 py-lg-3 pr-lg-3 pl-lg-1 event-img">
                                {% if event.event.image != ' ' %}
                                <div style="background-image: url({% static event.event.image %}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 83.3%;"></div>
                                {% else %}
                                <div style="background-image: url({% static 'joseph_app/templatedata/images/Centr_Razvitiya-25.png' %}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 83.3%;"></div>
                                {% endif %}
                                <button type="button" class="btn btn-warning btn-sm mt-4 w-100" style="background: rgb(251, 200, 83);" onclick="show_qr({{event.register.event_pk}})">Показать QR-код</button>
                            </div>
                        </div>
                        <div class="qr d-none" id="qr-{{event.register.event_pk}}" onclick="hide_qr({{event.register.event_pk}})">
                            <div style="background-image: url({% static event.register.qr %}); background-position: center; background-size: cover; background-repeat: no-repeat; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-55%);"></div>
                        </div>
                        <div class="event-divide"></div>
                        
                        {% endfor %}
                        
                        <h4 class="ml-2 ml-lg-3 mt-4 mb-4" id="h4-stat-header">Статистика</h4>
                        
                        <div class="row no-gutters">
                            <div class="col">
                                
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                        
                        {% endif %}
                        
                        <div id="stair-cab1"></div>
                        <div class="stairs-cabinet">
                            <div id="stair-cab2" class="d-none d-md-block"></div>
                            <div id="stair-cab3" class="d-none d-md-block"></div>
                            <div id="stair-cab3-r" class="d-block d-md-none"></div>
                            <div id="stair-cab4" class="d-none d-md-block"></div>
                            <div id="stair-cab4-r" class="d-block d-md-none"></div>
                            
                            <div id="stair-cab5"></div>
                            <div id="stair-cab6"></div>
                            <div id="stair-cab7"></div>
                            <div id="stair-cab8"></div>
                            
                            <div id="stair-cab9"></div>
                            <div id="stair-cab10"></div>
                            <div id="stair-cab11"></div>
                        </div>
                        
                    </div>

{% endblock %}

{% block js %}
        <script src="{% static 'joseph_app/templatedata/js/cabinet.js' %}"></script>
{% endblock %}